<div class="entry" id="entry-{{entry.id}}">
    <form hx-put="/entries/{{entry.id}}" hx-target="#entry-{{entry.id}}" hx-swap="outerHTML">
        <div class="mood-score-selector">
            <label>
                <input type="radio" name="mood_score" value="1" required>
                <h3>☹️ Very Bad</h3>
            </label>
            <label>
                <input type="radio" name="mood_score" value="2" required>
                <h3>😕 Bad</h3>
            </label>
            <label>
                <input type="radio" name="mood_score" value="3" required>
                <h3>😐 Okay</h3>
            </label>
            <label>
                <input type="radio" name="mood_score" value="4" required>
                <h3>🙂 Good</h3>
            </label>
            <label>
                <input type="radio" name="mood_score" value="5" required>
                <h3>😃 Great</h3>
            </label>
        </div>
        <div>
            <input type="text" name="comment" value="{{entry.comment or ''}}" placeholder="Additional comments...">
        </div>
        <div class="entry-actions">
            <button type="submit">Save</button>
            <button type="button" hx-get="/entries/{{entry.id}}/cancel" hx-target="#entry-{{entry.id}}"
                hx-swap="outerHTML">
                Cancel
            </button>
        </div>
    </form>
</div>