* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 750px;
    margin: 2rem auto;
    padding: 0 1rem;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #7cb9df 0%, #e4c79f 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #272727;
}

.navbar {
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    width: 100%;
}

.nav-container {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moodtrack-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(75, 169, 200);
    text-decoration: none;
}

.signout-button,
.auth-button {
    background-color: rgb(75, 169, 200);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

form {
    background-color: white;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)
}

label {
    display: block;
    margin: 0.5rem 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.5rem 1rem;
    background-color: rgb(75, 169, 200);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5rem;
}

button:hover {
    background-color: rgb(50, 115, 136);
}

.auth-container {
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 3rem auto;
    padding: 2rem;
}

.error {
    color: red;
}

.entry-form-container {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.entry-form-container h1 {
    margin-bottom: 1rem;
}

.entry-form-container .new-entry h2 {
    margin-bottom: 1rem;
}


.mood-score-selector {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mood-score-selector label {
    text-align: center;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.entry {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.entries h2 {
    margin: 2rem 0 1rem 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5rem;
    color: #333;
}